@page
@model LockoutModel

<header>
    <h1 class="text-danger">Felhasználói fiók zárolva</h1>
    <p class="text-danger">Az ön felhasználói fiókja zárolva van. Jelenleg ezzel a felhasználói fiókkal nem lehet bejelentkezni az alkalmazásba. Kérjük, próbálja meg később.</p>
</header>
