@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Sikeres kapcsolatfelvétel</h1>

<hr />
<p>A kapcsolatfelvétele sikeres volt, hamarosan felvesszük önnel a kapcsolatot.</p>
<div>
    <a asp-controller="Home" asp-action="Index">Visszalépés a főoldalra</a>
</div>
