<h1>Oldaltérkép</h1>

<p>Ez az oldal az alkalmazásban elérhető funkciók megtalálásában nyújthat segítséget.<br />Ha keres egy funkciót, akkor azt könnyen megtalálhatja ha rápillant a lenti listára.</p>
<ul>
    <li>Regisztráció (Amennyiben a felhasználó nincs bejelentkezve)</li>
    <li>Bejelentkezés (Amennyiben a felhasználó nincs bejelentkezve)</li>
    <li>Kezdőoldal</li>
    <li>Statisztika (Csak adminisztrárok számára látható)</li>
    <li>Ügyintézés (Csak adminisztrárok számára látható)</li>
    <ul>
        <li>Minden ügyek</li>
        <ul>
            <li>Szabad ügyek</li>
            <li>Megoldandó ügyeim</li>
            <li>Saját ügyeim</li>
            <li>Folyamatban lévők</li>
            <li>Befejezettek</li>
            <li>Zároltak</li>
        </ul>
    </ul>
    <li>Felhasználók (Csak adminisztrárok számára látható)</li>
    <ul>
        <li>Felhasználók listázása</li>
        <li>Felhasználói fiókok szerkesztése</li>
    </ul>
    <li>Saját Ügyeim (Csak felhasználók számára látható)</li>
    <li>Új Ügy</li>
    <li>Értesítéseim</li>
    <ul>
        <li>Értesítések listázása</li>
        <li>Értesítés olvasottnak jelölése</li>
    </ul>
    <li>Saját Profile</li>
    <ul>
        <li>Profil</li>
        <li>Email cím megváltoztatása</li>
        <li>Jelszó megváltoztatása</li>
        <li>Személyes adatok</li>
        <ul>
            <li>Letöltés</li>
            <li>Törlés</li>
        </ul>
        <li>Kijelentkezés</li>
    </ul>
    <li>Oldaltérkép</li>
    <li>Kapcsolat (Bejelentkezés nélkül is elérhető)</li>
</ul>
